<script type="text/javascript" src='{{ "js/nonograms-opt.js" | absURL }}'></script>
<link href='{{ "css/nonograms.css" | absURL }}' rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

<!--Disable zooming -->
<!--Note this should also make the 300ms tap delay on mobile go away on Chrome and Firefox. It also removes pinch-zooming -->
<!-- https://developers.google.com/web/updates/2013/12/300ms-tap-delay-gone-away -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
